
#propOpenWrapper {
	background: #FFFFFF;
}

#pgBd {
	background: #FFFFFF;
	color: #363636;
}

a.custom-color, #trackInfo a, #trackInfo .buy-link, #tagArea a, #rightColumn a, #name-section a, #indexpage a, .editable-grid a, .featured-grid a, #band-navbar a, #merch-item p a, #merch-item .buy a, #merch-item .buy button, #merch-item .more-merch a, .share-collect-controls a, .share-collect-controls button, .follow-unfollow, .follow-unfollow div, .collected-by a, .subscribe a, .sub a, .video-list a, .sub .main a, .subwelcome a, .artists-grid-name a, .featured-grid-name, .label-welcome .buttons a.new, .themed .label-band-selector a.themeable {
	color: #0687F5;
}

.themed .label-band-selector .bands-menu {
	border: 1px solid #F8F8F8;
}

.themed .label-band-selector .bands-menu,
.themed .label-band-selector .bands-menu .menu-artistpic {
	background: #FFFFFF;
}

.label-welcome h2, .label-welcome p {
	color: #363636;
}

.label-welcome .buttons a.new {
	box-shadow: 2px 2px #0687F5;
}

.label-welcome .buttons a.existing {
	box-shadow: 2px 2px #363636;
}

.primaryText,
#discography a.primaryText,
#trackInfo a.title_link,
.label-welcome .buttons a.existing {
	color: #363636;
}

.secondaryText {
	color: #888888;
}

#band-navbar a:hover {
	border-color: #0687F5;
}

#band-navbar a.active {
	color: #363636;
	border-color: #363636;
}

.themed .label-band-selector .label {
	color: #888888;
}

.themed .label-band-selector .tabs > li {
	border-color: #888888;
}

.themed .label-band-selector a.selected {
	color: #363636;
}

.themed .label-band-selector .caret {
	fill: #0687F5;
}

.themed .label-band-selector .selected .caret {
	fill: #363636;
}

#trackInfo a.notable {
	color: red; /* overrides above */
}


#band-navbar {
	background-color: #F2F2F2;
}


body {
	background: #F8F8F8;

	background-position: left top;
	background-repeat: repeat;

	background-image: none;

}




#pgHd, #pgFt {
	background-color: #848484;
}

.just-icon {
	color: #FFFFFF;
}

.just-icon-bg {
	border-right-color: #363636;
}

.collected-by .ellipsis-text {
	color: #0687F5;
}
.collected-by .ellipsis-bg {
	background-color: #0687F5;
}

button.subtop,
button.subbot {
	background: #0687F5;
	color: #FFFFFF;
}

.sub .includeditems .item a {
	color: #363636;
}

.sub .post-message-link {
	background-color: rgba(6, 135, 245, 0.2);
	color: #0687F5;
}

.sub ul.tierslist li.tier {
	border-color: rgba(6, 135, 245, 0.2);
}

.sub button.tierbutton .spacer {
	background-color: #FFFFFF;
}

ol.sub-navbar li.active,
.invertIconography ol.sub-navbar li.active {
	background-color: #FFFFFF;
}

ol.sub-navbar a {
	color: #0687F5;
}

.post-subscribe .button-background {
	background-color: rgba(6, 135, 245, 0.2);
	color: #0687F5;
}

.post-subscribe .band-link-color,
.post-subscribe .message-text button,
.post-subscribe .new-feed-stories button,
.post-subscribe .new-feed-stories-floater button {
	color: #0687F5;
}

.post-subscribe .new-feed-stories-floater button {
	background-color: #FFFFFF;
}

.buyFullDiscography .art .art-thumb {
	background-color: #FFFFFF;
}

.collected-by .loading {
	color: #363636;
}
