.hidden {
	display: none;
}


#menubar-wrapper, #user-nav, ul#user-nav, #user-mobile-nav {
	display: none;
}

#loggedout-nav, #user-mobile-nav {
	position: absolute;
	right: 0;
}

.de-emphasized {
	color: #818285;
}

.mobile {
	display: none;
}

.bc-ui.loading {
	background: url('img/loading_icon.gif');
	height: 24px;
	width: 24px;
	margin-top: -29px;
}

.bc-ui.check {
	background: url('img/check.svg');
	height: 24px;
	width: 24px;
	margin-top: -26px;
}

.bc-ui.times {
	background: url('img/times.svg');
	height: 20px;
	width: 20px;
	margin-top: -27px;
}

.bc-ui.form-icon {
	background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 8px;
}

.form-header {
	text-align: center;
	margin-top: 118px;
	margin-bottom: 20px;
	font-weight: 500;
	color: #333;
}


.form-block {
	margin-top: 18px;
	margin-bottom: 10px;
}

.form-block label {
	color: #333;
	display: inline-block;
	position: absolute;
	text-align: right;
	margin-top: 12px;
	margin-left: -20px;
	font-size: 105%;
}

.form-field {
    position: relative;
}

.textinput {
	text-align: left;
	font-size: 100%;
	padding: 7px 7px;
	width: 100%;
	color: #333;
	font-weight: 500;
	box-sizing: border-box;
}

.textinput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #818285;
	opacity: 0.5;
	font-weight: 500;
}
.textinput:-moz-placeholder { /* Firefox 18- */
	color: #818285;
	opacity: 0.5;
	font-weight: 500;
}
.textinput::-moz-placeholder { /* Firefox 19+ */
	color: #818285;
	opacity: 0.5;
	font-weight: 500;
}
.textinput:-ms-input-placeholder { /* IE 10+ */
	color: #818285;
	opacity: 0.5;
	font-weight: 500;
}
.textinput::placeholder {
	color: #818285;
	opacity: 0.5;
	font-weight: 500;
}


.collection-add {
	display: none;
	text-align: left;
	margin-left: 5px;
	margin-top: .5em;
}

.collection-add input {
	margin-right: .5em;
}

#buttons {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

.redeem-button {
	font-size: 110%;
	color: white;
	font-weight: 400;
	margin: 0;
	background: #1DA0C3;
	border: none;
	padding: 8px 0;
	width: 100%;
}

.redeem-button:disabled {
	color: gray;
	border-color: gray;
	text-decoration: none;
}

.notable {
	color: red;
}

#warning {
	display: none;
}

.small-message {
	margin-top: 67px;
	text-align: center;
	color: #818285;
	font-size: 90%;
}

.small-message a {
	color: #1DA0C3;
}


.loggedin #menubar-wrapper {
	display: inherit;
}

.loggedin #loggedout-nav {
	display: none;
}

.loggedin #user-nav {
	display: inline-block;
}

.loggedin #email {
	display: none;
}

.loggedin .form-block label {
	display: none;
}

.loggedin .small-message {
	display: none !important;
}

.loggedin .collection-add {
	display: initial;
}

.loggedin .redeem-button {
	margin-top: -6px;
}



@media (max-width: 740px) {

	.desktop {
		display: none;
	}

	.mobile {
		display: initial;
	}

	body {
		background: url('img/bg-mobile-light-20120612.gif') #f0f0f0;
	}

	.pgft-desktop {
		display: none;
	}
	.pgft-phone {
		display: inherit;
	}

	#pgFt a {
		color: white;
	}

	#menubar-wrapper {
		display: inherit;
	}

	#menubar-wrapper .menubar-divider {
		height: 100%;
		width: 0px;
		position: absolute;
		border-left: 1px solid #F1F1F1;
		border-right: 1px solid #C6C6C6;
	}

	#menubar-wrapper .menubar-item {
		padding-left: 11px;
		padding-right: 11px;
	}

	#propOpenWrapper {
		background: none;
	}

	#pgBd {
		background: none;
	}

	#pgBd > .content {
		color: #818285;
	}

	#profimg {
		background: url('img/profimg.JPG');
		height: 30px;
		width: 30px;
		background-size: cover;
		float: left;
		margin-top: 6px;
		margin-right: 14px;
	}

	.form-header {
		margin-top: 28px;
		margin-bottom: 18px;
		font-weight: 500;
		color: #818285;
		font-size: 18px;
	}

	.form-block {
		font-size: 15px;
		margin-top: 10px;
	}

	.form-block label {
		margin-left: 0;
		width: 44px;
		height: 42px;
		text-align: left;
		position: initial;
		margin-right: 9px;
		color: #818285;
		font-weight: 500;
		float: left;
	}

	.form-block .form-field {
		margin-left: 0;
		width: 100%;
		text-align: left;
		box-sizing: border-box;
		padding-left: 53px;
	}

	.textinput {
		border: 2px solid rgba(0,0,0,0);
		border-radius: 4px;
		width: 100%;
		padding: 12px 8px;
		height: 42px;
	}

	.textinput:focus {
		outline: none;
		border: 2px solid #1DA0C3;

		box-shadow: none;
	}

	.other-content {
		width: 100%;
		margin-left: 0;
	}

	.small-message {
		font-size: 14px;
	}

	#login-link-mobile {
		display: inherit;
		margin-left: 0px;
		margin-top: 28px;
	}

	.buttons {
		margin-top: 28px;
	}

	.redeem-button {
		border-radius: 4px;
		font-size: 16px;
		padding: 12px;
	}

	.bc-ui.loading {
		margin-top: -32px;
	}

	.bc-ui.check {
		margin-top: -29px;
	}

	.bc-ui.times {
		margin-top: -30px;
	}


	.loggedin #user-mobile-nav {
		display: inherit;
	}

	.loggedin #user-nav {
		display: none;
	}

	.loggedin .form-header {
		padding: 30px 0;
	}

	.loggedin #form-header-short {
		display: initial;
	}

	.loggedin #form-header-long {
		display: none;
	}

	.loggedin .collection-add {
		display: none;
	}

	.loggedin .form-block .form-field {
		padding-left: 0;
	}

	.loggedin .redeem-button-redeem {
		display: initial;
	}

	.loggedin .redeem-button-next {
		display: none;
	}
}

@media (min-width: 741px) {
	.pgft-desktop {
		display: inherit;
	}
	.pgft-phone {
		display: none;
	}
}
