.content {
	/*text-align: center;*/
	font-size: 110%;
	margin-top: 20px;
}


#menubar-wrapper {
	display: none;
}

.de-emphasized {
	color: #818285;
}

.code-table {
	margin-left: 196px;
}

.code-table td {
	border: none;
	/*padding: 0;*/
}

.code-table tr td:nth-child(1) {
	vertical-align: middle;
	text-align: right;
}

.code-table tr td:nth-child(2) {
	width: 300px;
}

.form-header {
	text-align: center;
	margin-bottom: 40px;
}

tr.spacer {
	height: 10px;
}


/*.field-block {
	display: block;
	margin-bottom: 20px;
	padding: 5px;
}

label.field-block {
	padding: 7px;
}*/

.textinput {
	text-align: left;
	font-size: 100%;
	width: 96%;
	padding: 5px;
}

.collection-add {
	display: none;
	text-align: left;
	margin-left: 5px;
	margin-top: .5em;
}
.collection-add input {
	margin-right: .5em;
}
.collection-add-text {
}

#buttons {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

.redeem-button {
	font-size: 110%;
	color: white;
	font-weight: 500;
	margin: 0;
	background: #1DA0C3;
	border: none;
	width: 100%;
	padding: 6px 0;
}
.redeem-button:disabled {
	color: gray;
	border-color: gray;
	text-decoration: none;
}

.notable {
	color: red;
}

#forlesswhitespace {
	padding: 25px;
}

#warning {
	display: none;
}

.small-message {
	text-align: center;
	color: #818285;
	font-size: 86%;
}


.loggedin #menubar-wrapper {
	display: inherit;
}

.loggedin .email-field {
	display: none;
}

.loggedin .small-message {
	display: none;
}

.loggedin .collection-add {
	display: initial;
}

.loggedin .code-table tr td:nth-child(1) {
	display: none;
}

.loggedin .code-table {
	margin: 0 auto;
}
