
#propOpenWrapper {
	background: #FFFFFF;
}

#pgBd {
	background: #FFFFFF;
	color: #363636;
}


body {
	background: #F8F8F8;

	background-position: left top;
	background-repeat: repeat;

	background-image: none;

}




#pgFt {
	background-color: #848484;
}
