/*
 * Tralbum page CSS: phone view.
 *
 * This file is specific to album, track, and related pages.
 */


/***** Tralbum title and art *****************************************/

.trackView,
#merch-item {
    position: relative;  /* positioning context for #tralbumArt */
}

#merch-item .blank-art {
    display: none;
}

#name-section {
    line-height: 1.125rem;
    text-align: center;
}

#name-section h3 {
    font-size: 0.875rem;
    display: inline-block;
}

#name-section h3 span a {
    color:#333;
}

.trackView #name-section {
    padding-top: 6.25%;  /* space it out from the top of the page/checkout */
}

.trackView.has-art #name-section {
    padding-top: 103.125%;  /* lower the title below the tralbumArt; 100% + (2000/640) */
}

#merch-item.has-art.has-thumbs {
    padding-top: 96.875%; /* lower the title below the main art and a row of thumbs; 75% + 0.25*75% + (2000/640) */
}
#merch-item.has-art {
    padding-top: 78.125%;  /* lower the title below the 4:3 merch art; 75% + (2000/640) */
}

#merch-item .merchtype {
    display: block;
}

#name-section > * {
    display: inline;
}

#name-section h2 {
    font-weight: bold;
    font-size: 0.875rem;
}

.trackView #tralbumArt img {
    width: 100%;
    position: absolute;
    top: 0;  /* raise the image above the trackTitle */
}

#merch-item > .art {
    position: absolute;
    top: 0;
    width: 100%;
}
#merch-item img.main-art {
    width: 100%;
    height: 75%;
}
#merch-item .merch-thumbs {
    margin-top: 2.6%;
    width: 100%;
    font-size: 0;
}
#merch-item .merch-thumbs > li {
    display: inline-block;
    width: 23%;
    margin-right: 2.6%; /* 3 gaps to make up for 12% shortage (4x3%) */
}
#merch-item .merch-thumbs > li:last-child {
    margin-right: 0;
}
#merch-item .merch-thumbs img {
    width: 100%;
    height: 75%;
}

#missing-tralbum-art {
    display: none;
}

#merch-item .package-desc {
    margin-bottom: 0.4rem;
}

.merchtype {
    display: block;
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0.25rem 0;
}
.merchtype:last-child {
    margin-bottom: 0;
}

.merch-grid .merchtype {
    margin-top: 0.2rem;
    font-size: 0.625rem;
}


/* dark */

.invertIconography #name-section h3 span a {
    color: #919191;
}

/***** Item descriptions ********************************************/

span.lightweightBreak {
    display: inline-block;
    width: 0em;
    height: 0.5rem;
}

/***** Buy and share links ********************************************/

.tralbumCommands > .buyItem+.buyItem {
    margin: 2rem 0;
}
.buyItem,
.tralbumCommands > .buyItem+.buyItem {
    margin: 0 auto;
}
.buyAlbumLink {
    margin: 0 0 2rem;
}
.buyItem .hd, .buyItem .bd {
    display: block;
}

.buyItem .bd {
   font-size: 0.8125rem;
   line-height: 1rem;
   word-wrap: break-word;
   margin-bottom: 0.5rem;
}

.buyItem .ft {
    font-size: 0.8125rem;
}

.buyItem .ft .end {
    white-space: nowrap;
}

.buyItem h3 {
    font-size: 0.9375rem;
    font-weight: bold;
    margin: 0 0 0.25rem;
}
.buyItem h3 a {
    color: inherit;
}

.buyItem h4.notable {
    font-weight: bold;
    padding: 0.625rem 0 0.625rem;
    font-size: 0.875rem;
    text-align: center;
    color: #c00;
}

.buyItemExtra {
    font-size: 0.8125rem;
    font-weight: normal;
}

.buyItemEdition .notable {
    padding-left: 0.25rem;
}

.buy-offsite-item {
    display: none;
}

#share-link {
    font-weight: bold;
}

/* share-link icon */
#share-link-share:before {
    /* sprite h/w ratio: 1/1 */
    content: '';
    display: inline-block;
    width: 1.3em;
    height: 0;
    padding-top: 1.3em; /* height */
    margin-right: 0.3125rem;
    background: url(/img/mobile-sprites-20150520.svg) no-repeat;
    background-size: 500% auto;
    background-position: 0 44%;
    vertical-align: text-bottom;
}

.no-svg #share-link-share:before {
    background-image: url(/img/mobile-sprites-20150520.png);
}


#share-link-embed {
    display: none;
}

.buy-link {
    background-image: none; /* clear any gradients set by the UA - I'm looking at you, Mobile Firefox*/
    border: none;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 0.9375rem;
    font-weight: bold;
    background-color: transparent;
}

.buy-link::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

.invertIconography .yui-module {
    color: #333;
}

.invertIconography .buyItem h4.notable {
    color: #a30b0b;
}

.invertIconography #share-link-share:before {
    background-position: 25% 44%; /* 25% == dark */
}

.buyItem .subscribe-login {
    font-weight: normal;
    font-size: 12px;
    color: #888888;
    margin-top: 10px;
}


/***** Package images ****************************************/

.gallery_viewer {
    margin: 2% 0 3%;
    font-size: 0; /* eliminate single space between each list item */
    line-height: 1;
    white-space: nowrap;
}

.gallery_item {
    display: inline-block;
    position: relative;
    width: 18%;
    height: 0;
    padding-top: 13.5%;
    margin-right: 2%;
}

ul.gallery_viewer li.gallery_item.first.last {
    width: 40%;
    padding-top: 30%;
}

.gallery_item.last {
    padding-right: 0;
}

.gallery_item img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: solid #ccc thin;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}

/* dark */

.invertIconography .gallery_item img {
    border: solid #717171 thin;
}

/***** Track list ****************************************/

.track_list {
    width: 100%;
    margin: 1.875rem 0;
}

.track_list tr {
    vertical-align: top;
    border-top: thin solid #d5d5d5;
    border-bottom: thin solid #d5d5d5;
}

.track_list td {
    padding: 0.625rem 0 0.563rem;
}

.track_list a {
    color: #333;
}

.track_list .play-col {
    width: 9%;
    text-align: center;
}

.track_list .track-number-col {
    font-size: 0.8125rem;
    width: 5%;
    text-align: right;
    padding-right: 0.625rem;

/*    font-size: 0.8125rem; */
}

.track_list .title {
    font-size: 0.8125rem;
}

.track_list .title > * {
    padding-right: 0.3em;
}

.track_list .info-col {
    width: 9%;
    vertical-align: middle;
    text-align: center;
}

/* repurpose the info-col by hiding its original contents */
.track_list .info-col .info_link {
    display: none;
}

/* ">" icon; see "valign layout hack" below */
.track_list .linked .info-col:after {
    /* sprite h/w ratio: 1/1 */
    content: '';
    display: inline-block;
    width: 0.8em;
    height: 0;
    padding-top: 0.8em; /* height */
    vertical-align: middle;
    background: url(/img/mobile-sprites-20150520.svg) no-repeat;
    background-size: 500% auto;
    background-position: 0 16%;
}
.invertIconography .track_list .linked .info-col:after {
    background-position: 25% 16%; /* 25% == dark */
}

.no-svg .track_list .linked .info-col:after {
    background-image: url(/img/mobile-sprites-20150520.png);
}

.track_list .download-col {
    display: none;
}

.track_list tr.lyricsRow {
   display:none;
}

/* valign layout hack: this element introduces inline text to the cell, allowing us to use
   vertical-align:middle on the cell icon element. The result is that the icon is always
   vertically aligned with the text in the other cells in a given row, regardless of font size or
   line height. Note that the "content" property can't be empty or a regular space in this case,
   but a nbsp works. */
.track_list .play-col:before, .track_list .info-col:before {
    content: '\00A0'; /* nbsp */
    display: inline-block;
    background: red;
    width: 0;
    overflow: hidden;
    vertical-align: middle;
}

/*  hidden lyrics */

.hiddenLyrics {
   display:none;
}

/* dark */
.invertIconography .track_list tr {
    vertical-align: top;
    border-top: thin solid #232323;
    border-bottom: thin solid #232323;
}

.invertIconography .track_list a {
    color: #919191;
}

/***** Tralbum about, credit, tags ************************/

.about-label, .tags-inline-label, .feed-label, .tralbum-feed {
    display: none;
}

.tralbum-about {
    font-style: italic;
}

.tralbumData, .info {
    margin:0.3125rem 0 0 0;
    font-size: 0.8125rem;
    line-height: 140%;
    word-wrap: break-word;
}

.info.license {
    margin: 1.25rem 0 0;
}

.credits-label, .lyrics-label, .tags-label {
    margin: 1.25rem 0 0;
    font-size: 0.9375rem;
    font-weight: bold;
}

.tralbum-tags .tag {
    display: inline-block;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5em 0.3em 0.3em 0;
    padding: 0.2em 0.6em;
    white-space: nowrap;
    border-radius: 0.4em;
    background: rgba(0,0,0,0.04);
}

/* dark */
.invertIconography .tralbum-tags .tag {
    background: rgba(190,190,190,0.08);
}

/***** sidebar stuff (also see bio_phone.css) *************************/

.rightColumn .title,
h3.more-merch {
    margin: 1.875rem 0 0.9375rem;
    border-top: solid #ccc thin;
    padding-top: 1.25rem;
    font-size: 0.9375rem;
    text-transform: lowercase;
}

#band-name-location .title {
    border-top:none;
    font-weight: bold;
    text-transform: inherit;
}

#band-name-location .location {
    display: block;
}

/* Don't lowercase band name in the more merch heading */
h3.more-merch a {
    text-transform: none;
}

.more-merch-container .merch-grid > li {
    display: none;
}
.more-merch-container.show-all .merch-grid > li,
.more-merch-container .merch-grid > li.first-four {
    display: inline-block;
}

/* dark */
.invertIconography .rightColumn .title,
.invertIconography h3.more-merch {
    border-top: solid rgba(255,255,255,0.2) thin;
}

/***** shows, discography, artists grid, music grid, merch grid, index page *******/

ol.editable-grid p {
    margin: 0;
}

ol.editable-grid span.artist-override {
    font-weight: normal;
    font-size: 100%;
}

#discography ul,
ol.editable-grid,
#indexpage .indexpage_list {
    margin-bottom: -6%; /* compensate for bottom margin of final li row */
}

#discography li,
#indexpage .indexpage_list_cell {
    display: inline-block;
    width: 46%;
    margin-bottom: 6%;
    vertical-align: top;
    font-size: 0.8rem;
}

ol.editable-grid > li, ol.editable-grid.filtered > li {
    display: inline-block;
    width: 48%;
    margin: 0 0 6% 0;
    vertical-align: top;
    font-size: 0.8rem;
}

ol.editable-grid > li.odd {
    margin-right: 4%;
}

#discography.truncated li.extra {
    display: none;
}

#discography li:nth-child(odd),
#indexpage .indexpage_list_cell.odd {
    margin-right: 4%;
}

#discography .thumbthumb,
ol.editable-grid .art,
#discography .cell,
#indexpage .ipCell {
    display: inline-block;
    width: 100%;
}

#discography .thumbthumb img,
#indexpage .ipCell img {
    width: 100%;
}

ol.editable-grid .art {
    position: relative;
    height: 0;
    padding-top: 75%;
    overflow: visible;
    background: rgba(255,255,255,0.5);
}

ol.editable-grid .square .art {
    padding-top: 100%;
}

ol.editable-grid .art img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* empty merch items are omitted from the grid, so only need to handle discography here */
#discography .thumbthumb.empty {
    height: auto; /* layout madness! height is determined by inner pseudo-elem, below */
    border: solid rgba(0,0,0,0.18) thin;
    background-color: rgba(0,0,0,0.05);
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}

#indexpage .indexpage_list_cell.empty {
    display: none;
}

/* The .thumbthumb.empty element can't use the padding==height trick, as that can't take into
   account the height of the borders. So we use an inner elem to determine the height. */
#discography .thumbthumb.empty:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%; /* height */
}

#discography .trackTitle,
ol.editable-grid .title,
#indexpage .ipCellLabel1,
.artists-grid-name {
    font-size: 0.75rem;
    margin-top: 0.375rem;
    word-wrap: break-word;
    font-weight: bold;
}

.artists-grid-location {
    font-size: 0.75rem;
}

#indexpage .ipCellLabel2 {
    font-size: 0.75rem;
    margin-top: 0.2em;
}

#discography li a,
ol.editable-grid a,
#indexpage .ipCellLabel a {
    color: #333;
}

#discography .trackYear,
ol.merch-grid .price {
    font-size: 0.625rem;
    margin-top: 0.2em;
    color: #777;
}

ol.merch-grid .price.sold-out {
    color: #d33;
}

ol.merch-grid .price > .price {
    font-weight: bold;
}

.more-merch-link {
    display: none;
}
#discography .showMore,
.more-merch-container .more-merch-link {
    display: block;
    margin-top: 1.25rem;
    font-size: 0.8125rem;
}

.peekaboo-list.truncated .peekaboo-list-extra {
    display: none !important;
}

/* band selector */

.label-band-selector {
    margin-top: 6%;
}

/*
 * If the font size of the <select> is less than 16px, iOS zooms into the control on focus (which
 * is sort of unnecessary for a <select> element), then doesn't zoom out on blur. Having to pinch to
 * zoom out each time you update the filter is not good. There are a number of JS-based workarounds
 * here: http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
 * but they're all horrible and seems to break with each new iOS version, so let's just boost the font
 * size of the band selector so it doesn't zoom at all.
 */
div.label-band-selector,
div.label-band-selector select,
div.label-band-selector select:focus {
    font-size: 16px;
}

/* showography */

#showography ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 0.75rem;
    margin: 1rem 0 0;
}

#showography li {
    display: table-row;
    height: 2.5em;
}

#showography li > * {
    display: table-cell;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#showography .secondaryText {
    color: #333;
}

#showography .showDate {
    width: 4em;
}

#showography .showVenue {
    padding-right: 1em;
}

#showography .showMore {
    font-size: 0.8rem;
}


/* dark */

.invertIconography #discography li a,
.invertIconography ol.editable-grid a,
.invertIconography #indexpage .ipCellLabel a {
    color: #777;
}

.invertIconography #discography .thumbthumb.empty {
    border: solid rgba(255,255,255,0.1) thin;
    background-color: rgba(255,255,255,0.03);
}

.invertIconography #discography .trackYear,
.invertIconography ol.merch-grid .price {
    color: #5e5e5e;
}

.invertIconography ol.merch-grid .price.sold-out {
    color: #d33;
}

.invertIconography #showography .secondaryText {
    color: #5e5e5e;
}

/***** Inline player ************************************************/

/*
    The major player elements (Play, slider, Next/Prev) are laid out as inline-block children.
    To prevent spaces between the tags from causing gaps in the layout, I've chosen to format
    the html to remove them. The font-size:0 alternative generally works, but not on all mobile
    browsers we're targeting (ex: Android 2.3.4).
*/

.inline_player {
    display: none; /* overridden */
    position: relative;
    margin: -0.125rem 0 0.5rem;
    text-align: center;
    white-space: nowrap;
    margin-left: -0.5%;
}

.inline_player.hidden {
    max-height: 0;
}

.inline_player.hidden > .inline_player_inner {
    display: none;
}

.trackView .inline_player {
    display: block;
    max-height: 500px;
    transition: max-height 3s ease-out;
    -moz-transition: max-height 3s ease-out;
    -webkit-transition: max-height 3s ease-out;
}

.inline_player_inner > * {
    vertical-align: middle;
}

.inline_player .playbutton {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 0;
    padding-top: 18%; /* height */
    margin-right: 0.5%;
}

.inline_player .playbutton .icon {
    /* sprite h/w ratio: 1/1 */
    position: absolute;
    width: 45%;
    height: 0;
    padding-top: 45%; /* height */
    top: 27.5%;
    left: 27.5%;
    background: url(/img/mobile-sprites-20150520.svg) no-repeat;
    background-size: 500% auto;
    background-position: 0 0;
}

.no-svg .inline_player .playbutton .icon {
    background-image: url(/img/mobile-sprites-20150520.png);
}

.inline_player .playbutton.playing .icon {
    background-position: 0 4%;
}

.inline_player .playbutton.busy .icon {
    background-image: url(/img/playerbusy.svg);
    background-size: 100% auto;
    background-position: 50% 50%;
}

.no-svg .inline_player .playbutton.busy .icon {
    background-image: url(/img/playerbusy_transp.gif);
}

.inline_player .progbar {
    position: relative;
    display: inline-block;
    width: 42%;
    border: solid 0.0625rem;
    border-color: transparent #fff #fff transparent;
    border-radius: 99999rem; /* max */
}

/* single-track player has no next/prev buttons, so progbar is a bit wider, roughly visually centered */
.inline_player.one-track .progbar {
    width: 44%;
}

.inline_player.one-track .time_total {
    margin-right: 20%;
}

/*
   A note on units: starting with progbar_empty, I use rems in several places to specify
   element and border sizes. Ideally we'd use percentages for everything, but borders
   don't accept % units, and the height of progbar_empty can't be based on its parent
   because the parent doesn't have an explicit height (and can't, as it's based on the
   height of its other contents). The better unit to use here would be "vw", which is relative
   to the viewport width, but that isn't available in most browsers as of early 2012.

   A note on border-radius: because the heights of some elements here are based on the heights
   of inner or outer relatives, ideally we'd use border-radius: 50% to get fully-roundend ends.
   Unfortunately, using % doesn't appear to be supported in Android 2.x. Luckily an easy hack
   exists: just set the radius to a huge value, letting the browser pin the actual radius to
   its maximum (half the height of the element).

    - sdg 2012.03.12
 */

.inline_player .progbar_empty {
    position: relative;
    width: auto;
    height: 0.438rem;
    overflow: hidden;
    border: solid 0.1rem;
    border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.05) rgba(0,0,0,0.05) rgba(0,0,0,0.2);
    border-radius: 99999rem; /* max */
}

/* inner shadow above the 'empty' and 'fill' content */
.inline_player .progbar_empty:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 99999rem; /* max */
    -webkit-box-shadow: inset 0 0.0625rem 0.125rem 0 rgba(0,0,0,0.2);
    box-shadow:         inset 0 0.0625rem 0.125rem 0 rgba(0,0,0,0.2);
}

.inline_player .progbar_fill {
    display: block;
    height: 100%;
    width: 0;
    background: #333333;
    opacity: 0.1;
    border-radius: 99999rem; /* max */
}

/* outer thumb */
.inline_player .thumb {
    position: absolute;
    left: 0;
    top: -0.3125rem;
    border: solid 0.0625rem #afafaf;
    border-radius: 99999rem; /* max */
    cursor: pointer;
    -webkit-box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,0.2);
    box-shadow:         0 0.0625rem 0.125rem 0 rgba(0,0,0,0.2);
}

/* inner thumb */
.inline_player .thumb:after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background: #efefef;
    border: solid #fff 0.0625rem;
    border-radius: 99999rem; /* max */
}

.inline_player .time {
    display: inline-block;
    padding: 0;
    font-size: 0.625rem;
    color: rgba(0,0,0,0.5);
}

.inline_player .time.hiddenelem {
    visibility: hidden; /* reserve layout space */
}

.inline_player .time_elapsed {
    padding-right: 1%;
    text-align: right;
}

.inline_player .time_total {
    padding-left: 1%;
    text-align: left;
/*    padding-right: 1%;*/
}

.inline_player .nextprev {
    position: relative;
    display: inline-block;
    width: 10%;
    height: 0;
    padding-top: 18%; /* height */
}

.inline_player .nextprev .icon {
    /* sprite h/w ratio: 1/1 */
    position: absolute;
    background: url(/img/mobile-sprites-20150520.svg) no-repeat;
    width: 40%;
    height: 0;
    padding-top: 40%; /* height */
    top: 39%;
    left: 30%;
    background-size: 500% auto;
    background-position: 0 8%;
}

.no-svg .inline_player .nextprev .icon {
    background-image: url(/img/mobile-sprites-20150520.png);
}

.inline_player .prevbutton .icon {
    left: 45%;
    background-position: 0 12%;
}

.inline_player .nextprev.hiddenelem {
    opacity: 0.2;
}

/* for the single-track player, hide next/prev entirely */
.inline_player.one-track .nextprev.hiddenelem {
    display: none;
}

.inline_player .track_info {
    margin: auto 0;
    padding: 1% 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75rem;
    white-space: nowrap;
}

.inline_player .track_info span.title {
    padding: 0 0 1%;
}

.inline_player .track_info a {
    color: #333;
}

/* don't display the track title for one-track players */
.inline_player .title-section.hiddenelem {
    display: none;
}

.inline_player .video-link.is-hidden {
    display: none;
}

.inline_player a.video-link {
    margin-left:15px;
    color: #0687F5;
}

a.video-link, a.has-video {
    padding: 5px 7px 5px 7px;
    background-color: rgba(0,0,0,0.07);
    color: #0687F5;
}

div.has-video-wrapper {
    text-align:center;
}

.invertIconography a.video-link,
.invertIconography a.has-video {
   background-color: rgba(50,50,50,0.9);
}

/* dark */
.invertIconography .inline_player .playbutton .icon {
    background-position: 25% 0; /* 25% == dark */
}

.invertIconography .inline_player .playbutton.playing .icon {
    background-position: 25% 4%; /* 25% == dark */
}

.invertIconography .inline_player .playbutton.busy .icon {
    background-image: url(/img/playerbusy_dark.svg);
    background-position: 50% 50%;
}

.no-svg .invertIconography .inline_player .playbutton.busy .icon {
    background-image: url(/img/playerbusy_mobile_dark.gif);
}

.invertIconography .inline_player .nextprev .icon {
    background-position: 25% 8%; /* 25% == dark */
}

.invertIconography .inline_player .prevbutton .icon {
    left: 45%;
    background-position: 25% 12%; /* 25% == dark */
}

.invertIconography .inline_player .progbar {
    border-color: rgba(255,255,255,0.05) rgba(255,255,255,0.1) rgba(255,255,255,0.2) rgba(255,255,255,0.1);
}

.invertIconography .inline_player .track_info a {
    color: #777;
}

.invertIconography .inline_player .progbar_empty {
    border-color: rgba(0,0,0,0.2) rgba(0,0,0,0.05) rgba(0,0,0,0.05) rgba(0,0,0,0.2);
}

.inline_player .progbar_empty:before {
    -webkit-box-shadow: inset 0 0.0625rem 0.125rem 0 rgba(0,0,0,0.2);
    box-shadow:         inset 0 0.0625rem 0.125rem 0 rgba(0,0,0,0.2);
}

.inline_player .progbar_fill {
    background: #515151;
    opacity: 0.5;
}
.invertIconography .inline_player .thumb {
    -webkit-box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,1);
    box-shadow:         0 0.0625rem 0.125rem 0 rgba(0,0,0,1);
    border: solid #515151 0.0625rem;
}

.invertIconography .inline_player .thumb:after {
    background: #777;
    border: solid #333 0.0625rem;
}

.invertIconography .inline_player .time {
    color: rgba(119,119,119,0.7);
}



/***** Track list player ********************************************/

/* see "valign layout hack" above */
.track_list .play-col a {
    display: inline-block;
    width: 1.25rem;
    height: 1rem; /* 1.25rem */
    vertical-align: middle;
    padding: 0 0 0 0.625rem;
}

.track_list .play_status {
    /* sprite h/w ratio: 1/1 */
    display: block;
    width: 0.6875rem;
    height: 0.6875rem;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
    background: url(/img/mobile-sprites-20150520.svg) no-repeat;
    background-size: 500% auto;
    background-position: 0 0;
}

.no-svg .track_list .play_status {
    background-image: url(/img/mobile-sprites-20150520.png);
}

.track_list .play_status.disabled,
.invertIconography .track_list .play_status.disabled,
.no-svg .track_list .play_status.disabled {
    background-image:none;
}


.track_list .play_status.playing {
    background-position: 0 4%;
}

/* dark */
.invertIconography .track_list .play_status {
    background-position: 25% 0; /* 25% == dark */
}

.invertIconography .track_list .play_status.playing {
    background-position: 25% 4%; /* 25% == dark */
}
.track_row_view .title .has-video {
    float: right;
    padding: 4px 7px 4px 7px;
    background-color: rgba(0,0,0,0.07);
    color: #0687F5;
}
tr.track_row_view, div.track_info {
    position:relative;
}
.invertIconography .track_row_view .title .has-video {
    background-color: inherit;
}





/***** Dialog instances **********************************/

.share-dialog li {
    margin: 1rem 0;
    text-align: center;
}


/***** Bubble message instances **************************/

.added-to-cart {
    color: #0687F5;
    border-color: #0687F5;
}

/* up arrow icon */
.added-to-cart:after {
    /* sprite h/w ratio: 1/1 */
    content: '';
    display: inline-block;
    width: 1em;
    height: 0;
    padding-top: 1em; /* height */
    margin-left: 0.5rem;
    background: url(/img/mobile-sprites-20150520.svg) no-repeat;
    background-size: 500% auto;
    background-position: 0 20%;
}

.no-svg .added-to-cart:after {
    background-image: url(/img/mobile-sprites-20150520.png);
}

/* dark */
.invertIconography .added-to-cart {
    color: #0687f5;
    border-color: #0687f5;
}


/***** Footer **********************************************/

#pgFt {
    background: #333;
}
#pgFt a {
    color: #999;
}

/* dark */
.invertIconography #pgFt {
    background: #000;
}
.invertIconography #pgFt a {
    color: #777;
}


/***** Misc **********************************************/

.goto-top-button.compound-button {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.goto-top-button span:first-child {
    padding-right: 1.2em; /* compensates for width of icon, below, for text centering */
}

/* up arrow icon */
.goto-top-button:before {
    /* sprite h/w ratio: 1/1 */
    content: '';
    display: inline-block;
    width: 1em;
    height: 0;
    padding-top: 1em; /* height */
    margin-right: 0.3125rem;
    background: url(/img/mobile-sprites-20150520.svg) no-repeat;
    background-size: 500% auto;
    background-position: 0 20%;
}

.no-svg .goto-top-button:before {
    background-image: url(/img/mobile-sprites-20150520.png);
}

.invertIconography .goto-top-button:before {
    background-position: 25% 20%; /* 25% == dark */
}


/***** Private Streaming ******************************/


#top-banner {
    width: 100%;
    background-color: #ffffc5;
    text-align: center;
    line-height: 140%;
    padding: 1rem 0.5rem;
}

#top-banner.private-streaming {
    font-size: 0.8125rem;
    color: #999;
    font-family: Georgia, serif;
    text-transform: lowercase;
    background: #3e3d44;
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3e3d44), color-stop(100%,#0a0a0a));
    background: -webkit-linear-gradient(-45deg,  #3e3d44 0%,#0a0a0a 100%);
    background: linear-gradient(-45deg,  #3e3d44 0%,#0a0a0a 100%);
}

#top-banner.private-streaming .label {
    display: inline-block;
}

#top-banner.private-streaming .title {
    text-transform: none;
    font-style: italic;
    display: inline-block;
    max-width:90%;
}

/***** Gifting ******************************/

/*h4.ft.compound-button.send-as-gift {
    margin-top: 1.25rem;
}*/

/***** Hide desktop elements ******************************/

#editDeleteCommands,
.edit-save-buttons,
.merch-edit-link,
.license-label,
.thumbthumb .warningBadge,
.editable-grid .warningBadge,
#share-buttons-list,
.collected-by, .share-collect-controls,
#private-merch-heading, .editable-grid.private,
.merch-page #discography,
.seekText, .seekMask
{
    display: none !important;
}

/***** Buy Full Discography elements **********************************/

.buyItem .band-link {
    line-height: 125%;
}

.buyItem.buyFullDiscography .art {
    font-size: 0;
    line-height: 1;
    margin: 0.75rem 0;
}

.buyItem.buyFullDiscography h3:after {
    content: '';
}

.buyItem.buyFullDiscography strong {
    font-weight: bold;
}

.buyFullDiscography .art.compact .art-thumb {
    margin-right: -15%;
}

.buyFullDiscography .art .art-thumb {
    background-image: url('/img/bg-mobile-light-20120612.gif');
    background-size: 100% 100%;
    display: inline-block;
    height: 0;
    margin-right: 2%;
    outline: 1px solid rgba(0,0,0,0.1);
    outline-offset: -1px;
    padding-bottom: 23%;
    position: relative;
    width: 23%;
}
.invertIconography .buyFullDiscography .art-thumb {
    outline: 1px solid rgba(255,255,255,0.18);
}

.buyFullDiscography .art .art-thumb.empty::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.invertIconography .buyFullDiscography .art .art-thumb.empty::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
}

.buyFullDiscography .art .art-thumb.thumb-glow {
    -webkit-box-shadow: 3px 0px 4px -3px rgba(0, 0, 0, 0.2), inset -1px 0 0 0 rgba(255,255,255,0.33);
       -moz-box-shadow: 3px 0px 4px -3px rgba(0, 0, 0, 0.2), inset -1px 0 0 0 rgba(255,255,255,0.33);
            box-shadow: 3px 0px 4px -3px rgba(0, 0, 0, 0.2), inset -1px 0 0 0 rgba(255,255,255,0.33);
}

.buyFullDiscography .art .art-thumb.thumb-glow.last-visible {
    border-right: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.invertIconography .buyFullDiscography .art .art-thumb {
    background-image: url('/img/bg-mobile-dark-20120809.gif');
    outline: 0.1rem solid rgba(255,255,255,0.18);
}

.buyFullDiscography .art .more-button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 23%;
    height: 0;
    padding-bottom: 23%;
    background-color: rgba(0,0,0,0.07);
    text-align: center;
    margin-left: 20%;
}

.buyFullDiscography .art .more-button .number-of-releases {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.invertIconography .buyFullDiscography .art .more-button {
    background-color: rgba(255,255,255,0.15);
}


.buyFullDiscography .art .more-button .count,
.buyFullDiscography .art .more-button .releases {
    margin: 0;
}

.buyFullDiscography .art .more-button .count {
    font-size: 1.375rem;
    line-height: 1.625rem;
}

.buyFullDiscography .art .more-button .releases {
    font-size: 0.750rem;
}

.buyFullDiscography .bd p {
    margin: 0.5rem 0 0.5rem 0;
}
